p {
    color: white;
}

#parent {
    display: flex;
    width: 600px; /* div-ის სიფართე */
    height: 500px; /* div-ის სიგრძე */
    background-color: black; 
    border: 1px solid red; /* ელემენტის საზღვარი */
    padding: 20px 0 5px 10px; /* კონტენტის და საზღვრის დაშორება*/
    padding-top: 20px; /* კონტენტის და საზღვრის ზევითა დაშორება დაშორება*/
    padding-right: 0; /* კონტენტის და საზღვრის მარჯვენა მხარეზე  დაშორება დაშორება*/
    padding-bottom: 5; /* კონტენტის და საზღვრის ქვემოთა მხარეზე  დაშორება დაშორება*/
    padding-left: 5; /* კონტენტის და საზღვრის მარცხენა მხარეზე  დაშორება დაშორება*/
    margin-bottom: 10px; /* ელემენტების დაშპრება*/
}

.first-div {
    width: 300px; /* div-ის სიფართე */
    height: 300px; /* div-ის სიგრძე */
    background-color: black; 
    border: 1px solid red; /* ელემენტის საზღვარი */
    padding: 20px 0 5px 10px; /* კონტენტის და საზღვრის დაშორება*/
    padding-top: 20px; /* კონტენტის და საზღვრის ზევითა დაშორება დაშორება*/
    padding-right: 0; /* კონტენტის და საზღვრის მარჯვენა მხარეზე  დაშორება დაშორება*/
    padding-bottom: 5; /* კონტენტის და საზღვრის ქვემოთა მხარეზე  დაშორება დაშორება*/
    padding-left: 5; /* კონტენტის და საზღვრის მარცხენა მხარეზე  დაშორება დაშორება*/
    margin-bottom: 10px; /* ელემენტების დაშპრება*/
}

.second-div {
    width: 300px; /* div-ის სიფართე */
    height: 300px; /* div-ის სიგრძე */
    background-color: black;
    border: 1px solid red; /* ელემენტის საზღვარი */
    padding: 20px 0 5px 10px; /* კონტენტის და საზღვრის დაშორება*/
    padding: 20px 0 5px 10px; /* კონტენტის და საზღვრის დაშორება*/
    padding-top: 20px; /* კონტენტის და საზღვრის ზევითა დაშორება დაშორება*/
    padding-right: 0; /* კონტენტის და საზღვრის მარჯვენა მხარეზე  დაშორება დაშორება*/
    padding-bottom: 5; /* კონტენტის და საზღვრის ქვემოთა მხარეზე  დაშორება დაშორება*/
    padding-left: 5; /* კონტენტის და საზღვრის მარცხენა მხარეზე  დაშორება დაშორება*/
    margin-left: 10px; /* ელემენტების დაშპრება*/
}

/* ყველა ელემენტი html-ში არის box-model-ი. ყველა ელემენტს აქვს კონტენტი, padding, border და margin.  */

/* 
 content - არის შიგთავსი
 padding - არის შიგთავსის და ზღვარის დაშორება 
 border - არის ზღვარი 
 margin - არის html ელემენტების დაშორება
*/

/* padding - არის კონტენის და საზღვრის შორის დაშორება*/
/* margin - არის ელემეტების დაშორება  */

#parent2 {
    display: flex;
    flex-direction: column;
    width: 600px; /* div-ის სიფართე */
    height: 500px; /* div-ის სიგრძე */
    background-color: black; 
    border: 1px solid red; /* ელემენტის საზღვარი */
    padding: 20px 0 5px 10px; /* კონტენტის და საზღვრის დაშორება*/
    padding-top: 20px; /* კონტენტის და საზღვრის ზევითა დაშორება დაშორება*/
    padding-right: 0; /* კონტენტის და საზღვრის მარჯვენა მხარეზე  დაშორება დაშორება*/
    padding-bottom: 5; /* კონტენტის და საზღვრის ქვემოთა მხარეზე  დაშორება დაშორება*/
    padding-left: 5; /* კონტენტის და საზღვრის მარცხენა მხარეზე  დაშორება დაშორება*/
    margin-bottom: 10px; /* ელემენტების დაშპრება*/
}