:root {
    --divebis-feri: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 2000px) {
    header {
        background-color: red;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 100px
    }
}

@media (max-width: 1500px) {
    nav {
        gap: 70px;
    }
}

@media (max-width: 1000px) {
    nav {
        gap: 50px;
    }
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}