* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}

span {
    width: 230px;
    height: 230px;
    background-color: rgba(128, 128, 128, 0.281);
    margin-top: 15%;
    border-radius: 10px;
    font-size: 120px;
    padding: 5%;
    color: white;
    transition: 0.5s;
}

span:hover {
    transform: scale(1.1)
}