@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

ul {
    color: blue;
    font-family: sans-serif;
    text-align: end;
    font-weight: bold;
    list-style: circle inside none; /*მოკლე კუთვლილება*/ 
    list-style-type: circle; /*ქვე კუთვლილება*/ 
    list-style-position: inside; /*ქვე კუთვლილება*/
    list-style-image: none; /*ქვე კუთვლილება*/
}

ol {
    color: violet;
    font-family: sans-serif;
    text-align: start;
    font-weight: bold;
    list-style: upper-roman inside none; /*მოკლე კუთვლილება*/ 
    list-style-type: upper-latin; /*ქვე კუთვლილება*/ 
    list-style-position: inside; /*ქვე კუთვლილება*/
    list-style-image: none; /*ქვე კუთვლილება*/
}

form {
    background-color: aquamarine;
    border: 3px solid black;
    border-radius: 6px;
    display: grid;
    place-items: center;
    width: 300px;
    margin: 50px 0 0 500px;
    font-family: Roboto;
    font-weight: bold;
}

form h2 {
    font-family: Roboto;
    text-align: center;

}

input {
    padding-top: 30px;
    padding-bottom: 2%;
    height: 20px;
    border: 1px solid black; 
    border-radius: 3px;
}

input:focus {
    outline: none;
}

button _{
    padding-top: 20px
}